body {
    
    font-family: "Open Sans", cursive;
    background-color: rgb(236, 234, 234);
}

h1, h2, h3 {
    
    font-family: "Permanent Marker", cursive;
}

h2 {
    color: greenyellow;
}

header h2 {
    color: salmon;
}

footer {
    background-image: linear-gradient(rgb(255, 200, 200), white);
    padding: 20px 0;
}

.jumbotron{
	background-image: url("images/groomsnow.jpg");
	background-size: cover;
	background-repeat: no-repeat;
} 

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}